$n: 8;
$btn-d: 14em;
$btn-b: .0625*$btn-d;
$bmp-d: .125*$btn-d;
$led-w: .3125*$btn-d;
$led-h: 1.25*$btn-b;
$pad-t: 35%;
$pad-b: 15%;
$pad-l: calc(.5*(#{$pad-t} + #{$pad-b}));
$g: 1.75em;

*, :before, :after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	display: grid;
	place-content: center;
	grid-template-columns: repeat(var(--n, #{$n}), var(--w, #{$btn-d}));
	grid-gap: $g;
	overflow-x: hidden;
	min-height: 100vh;
	background: radial-gradient(#f9f9f9, #d4d4d4);
	
	@for $i from 1 through $n {
		@media (max-width: ($n - $i + 1)*$btn-d + ($n - $i + 2)*$g) {
			@if $i == $n { --w: 100% }
			@else { --n: #{$n - $i} }
		}
	}
}

#bump {
	position: absolute;
	left: -100vmax;
	border: solid .5*$bmp-d transparent;
	width: $bmp-d; height: $bmp-d;
	border-radius: 50%;

	&:before {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		border-radius: inherit;
		box-shadow: 0 2px 5px rgba(#000, .2);
		background: linear-gradient(transparent, rgba(#000, .05));
		content: ''
	}
}

button {
	/* :after offset */
	--o2: auto;
	/* actual button padding */
	--p0: 0px;
	/* rounding factors */
	--rf0: 0;
	--rf1: calc(1 - var(--rf0));
	/* actual button border-radius */
	--r: calc(var(--rf0)*50% + var(--rf1)*#{.25*$btn-d});
	--r1: calc(var(--r) - var(--rf1)*(#{$btn-b} + var(--p0)));
	--r2: calc(var(--r) - var(--rf1)*(#{$btn-b} + var(--o2)));
	--a: .25;
	/* stop list outer (border-box) #0 (button itself) */
	--slo0: #d4d5d9, #e2e3e7;
	/* stop list middle (padding-box) #0 (button itself) */
	--slm0: #f0c101, #f9a123;
	/* stop list middle (padding-box) #1 (button :before) */
	--slm1: #fefefe, #cbccd0;
	/* stop list inner (content-box) #1 (button :before) */
	--sli1: #ccc, #fff;
	/* stop list middle (padding-box) #2 (button :after) */
	--slm2: #dadada, #fff;
	/* stop list inner (content-box) #2 (button :after) */
	--sli2: #a1c82d, #e8e681;
	
	box-sizing: border-box;
	position: relative;
	border: solid $btn-b transparent;
	width: $btn-d; height: $btn-d;
	border-radius: var(--r);
	background: 
		linear-gradient(var(--slm0)) padding-box, 
		linear-gradient(var(--slo0)) border-box;
	text-indent: -200vmax;
	filter: grayscale(.8);
	transition: filter .3s;
	cursor: pointer;

	&:hover, &:focus {
		outline: solid 0 transparent;
		filter: none;
	}

	&:active {
		&:before, &:after {
			transform: translateY(1px);
		}
	}
	
	&.circ {
		--rf0: 1;
		--b1: .25em;
		--p1: 1.5em
	}
	
	&.soft {
		--p0: .3125em;
		--a: .4375;
		--b1: .5em;
		--p1: 1.25em;
	}
	
	&.over {
		--sli1: #d4d4d4, #f7f8fc;
		--slm1: #f1f1f1, #d2d5ce;
		--o2: calc(2*var(--p0) + var(--b1) + var(--p1));
		
		&:after {
			background: linear-gradient(var(--slm2));
			content: ''
		}
	}
	
	&.sled {
		&:after {
			top: calc(.5*(100% - #{$led-h}));
			left: calc(.5*(100% - #{$led-w}));
			padding: 2px;
			width: $led-w; height: $led-h;
			border-radius: .5*$led-h;
			content: ''
		}
	}
	
	@supports (background: element(#bump)) {
		&.bump {
			&.sled {
				&:before {
					padding: $pad-t $pad-l $pad-b;
					background: 
						element(#bump) 50%/ 25% 25% space content-box, 
						linear-gradient(var(--slm1))
				}

				&:after {
					top: calc(.5*(#{$pad-t} - #{$led-h}));
				}
			}
		
			&.soft {
				&:after {
					--o2: calc(2*var(--p0) + var(--b1) + var(--p1));
					padding: 15%;
					background: 
						element(#bump) 50%/ 25% 25% space content-box, 
						linear-gradient(var(--slm2));
					content: ''
				}
			}
		}
	}

	&:not(.base) {
		&:before {
			border: solid var(--b1) transparent;
			padding: var(--p1);
			background: 
				linear-gradient(var(--sli1)) content-box, 
				linear-gradient(var(--slm1)) padding-box, 
				linear-gradient(var(--slo1)) border-box;
		}
	}
	
	&:before, &:after {
		position: absolute;
		transform: translateY(0);
		transition: transform .3s;
	}
	
	&:before {
		top: var(--p0); right: var(--p0); bottom: var(--p0); left: var(--p0);
		border-radius: var(--r1);
		box-shadow: 0 3px 7px rgba(#000, var(--a)), 
			0 5px 13px rgba(#000, var(--a)), 
			inset 0 -1px 2px rgba(#fff, .25);
		background: linear-gradient(var(--slm1));
		content: ''
	}

	&:after {
		top: var(--o2); right: var(--o2); bottom: var(--o2); left: var(--o2);
		border-radius: var(--r2);
		background: 
			linear-gradient(var(--sli2)) content-box, 
			linear-gradient(var(--slm2));
	}
}

/* support info box styling */
.box {
	position: fixed;
	inset: auto 1vw 1vh;
	margin: 0;
	border-left: 5px solid #dc3055;
	padding: .75em;
	box-shadow: 2px 2px 5px hsl(0, 0%, 50%);
	background: #851d40;
	color: #fff;
	font: clamp(.625em, 4vw, 1.25em)/ 1.25 trebuchet ms, ubuntu, 
		verdana, arial, sans-serif;
	
	&--elem {
		@supports (mask: -moz-element(#a)) { display: none }
		@supports (background: element(#a)) { display: none }
	}
}

code {
	padding: 2px;
	background: hsla(0, 0%, 0%, .2);
	font: 1.1em/ 1.2 ubuntu mono, 
		consolas, monaco, monospace
}

a { color: gold }